:root
{
   --color: #06142E
   --color: #1B3358
   --color: #473E66
   --color: #bd83b8
   --color: #f5d7db
   --color: #f1926d
   --color: #05161a
   --color: #072e33
   --color: #072e33
   --color: #6da5c0
   --color: #294d61
   --color: #c38eb4
   --color: #e1cbd7
   --color: #66abcf
   --color: #26425a
   --color: #190019
   --color: #2b124c
   --color: #522b5b
   --color: #e54fec
   --color: #dfb6b2
   --color: #fbe4d8
   --color: #384358
   --color: #ffa586
   --color: #1d1a39
   --color: #451952
   --color: #662549
   --color: #ae445a
   --color: #f39f5a
   --color: #e8bcb9
   --color: #264653
   --color: #287271
   --color: #2a9d8f
   --color: #e9c46a
   --color: #f4a261
   --color: #e76f51
   --color: #f4f1de
   --color: #eab69f
   --color: #e07a5f
   --color: #3d405b
   --color: #81b29a
   --color: #f2cc8f
   --color: #a8e8f9
   --color: #00537a
   --color: #013c58
   --color: #f5a201
   --color: #ffba42
   --color: #ffd35b
   --color: #355070
   --color: #6d597a
   --color: #b56576
   --color: #e56b6f
   --color: #e88c7d
   --color: #eaac88
   --color: #535878
   --color: #9db0ce
   --color: #b8d8e3
   --color: #fee1dd
   --color: #e9c2c5
   --color: #cea0aa
   --color: #a36361
   --color: #d3a29d
   --color: #e8b298
   --color: #eecc8c
   --color: #bdd1c5
   --color: #9eaba2
   --color: #21251f
   --color: #c8f560
   --color: #4e515c
   --color: #7862f8
   --color: #30353c
   --color: #2a86ff
   --color: #111315
   --color: #24293e
   --color: #8ebbff
   --color: #2f3651
   --color: #0b0b0b
   --color: #a3fda1
   --color: #2d2d2d
   --color: #925ff0
   --color: #3c3d50
   --color: #1f1c3f
   --color: #b5e6db
   --color: #1d1d1d
   --color: #f59115
   --color: #46332e
   --color: #100f11
   --color: #60b478
   --color: #302e35
   --color: #9a7cf8
   --color: #1a1a1a
   --color: #b5734c
   --color: #363636
}